.btn-pill-container {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  color: rgb(94, 234, 212);
  border: 1px solid rgb(94, 234, 212);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  margin-bottom: 4px;
  margin-right: 4px;
}