.btn-pill-container {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  color: var(--main-teal);
  border: 1px solid var(--main-teal);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  margin-bottom: 4px;
  margin-right: 4px;

  img {
    height: 0.8rem;
    width: auto;
    margin-right: 8px;
  }
}