@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.projects-section {
  .project-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1.5rem;
    gap: 1.5rem;
    overflow-x: hidden;

    &:last-child {
      margin-bottom: 2rem;
    }

    h3 {
      display: flex;
      align-items: center;
      
      .project-repo {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        color: map-get($colors, "accent-yellow" );
      }
    }

    ul {
      padding-left: 1.5rem;
    }

    .skill-pills {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;

      .btn-pill-container {
        margin-bottom: 6px;
        margin-right: 6px;
      }
    }

    .project-carousel {
      &.initial {
        opacity: 0;
        transform: translateX(-100%);
        filter: blur(10 px);
        transition: all 1s;
      }
  
      &.animate-from-left {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
      }
    }
  
    .project-content-container {
      &.initial{
        opacity: 0;
        transform: translateX(100%);
        filter: blur(10 px);
        transition: all 1s;
      }
  
      &.animate-from-right {
        transform: translateX(0);
        filter: blur(10 px);
        opacity: 1;
      }
    }

    @media (max-width: map-get($breakpoints, "lg")) {
      grid-template-columns: 1fr;
    }
  }
}