@import "colors";

.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 4;
  background-color: map-get($colors, "accent-yellow");
  color: map-get($colors, "bg-color");
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.initial-slide-in {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10 px);
  transition: all 1s;
}

.slide-in{
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .initial-slide-in {
    transition: none;
  }
}
