$colors: (
  bg-color: #0d0b1a,
  bg-color-secondary: #0d0b1a42,
  light-grey: #dbdbdb,
  light-grey-dim: #dbdbdb2c,
  dark-grey: #636363,
  black: #000000,
  secondary-blue: #7986cb,
  muted-turquoise: #7bc0c9,
  accent-yellow: #ffeb3b,
  invalid-red: #e06a6a,
)