.aboutpage-container {
  margin: 100px 10%;
  margin-bottom: 0;

  .card {
    margin: 25px;
  }

  .card-img-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
    }
  }

  .skills-container {
    text-align: center;

    svg {
      margin: 2px;
      height: 30px;
      width: 30px;
    }
  }
}