@use "sass:map";
@use "../../styles/colors.scss" as *;

.floating-background {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;  
  overflow: hidden;
  z-index: -1;           
  background-color: map.get($colors, "bg-color");; 
}

.floating-background .circle {
  position: absolute;
  bottom: -50px;
  border-radius: 50%;
  opacity: 0.6;
  background-color: rgba(255, 255, 255, 0.8);
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

@keyframes floatUp {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
