.projectspage-container {
  margin: 100px 10%;
  margin-bottom: 0;

  .project-card {
    background-color: #5C8374;
    color: white;
  }

  .card {
    margin: 25px;
  }

  img {
    height: 400px;
    width: auto;
  }
}