@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: map-get($breakpoints, "lg");
  }
  
  .close-button {
    align-self: flex-end;
    font-size: 30px;
    cursor: pointer;
    z-index: 101;
    color: map-get($colors, "accent-yellow");
  }
}