@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal-content {
    background: #ffffff00;
    width: 90%;
    max-width: map-get($map: $breakpoints, $key: "xl" );
    height: auto;
    max-height: 90vh;
    padding: 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    color: map-get($colors, "accent-yellow");
  }
}

.modal-overlay {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: map-get($colors, "accent-yellow");
    border: none;
    cursor: pointer;
    z-index: 3;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.toggler {
      top: 1.2rem;
      right: 0.2rem;

      @media screen and (max-width: map-get($breakpoints, "sm")) {
        display: none;
      }
    }
  }

}