@use "sass:map";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: fit-content;
  max-width: map.get($breakpoints, "lg");
  transform: translate(-50%, -50%);
  border: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: map.get($colors, "light-grey-dim");
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  animation: bounceIn 0.6s ease-in-out forwards;

  @keyframes bounceIn {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    60% {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  

  &::backdrop {
    background: map.get($colors, "bg-color-secondary");
  }

  &-content {
    position: relative;
    background-color: map.get($colors, "light-grey-dim");
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  &-close-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: map.get($colors, "accent-yellow");
    background-color: map.get($colors, "bg-color-secondary");
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 100ms ease-in-out, color 100ms ease-in-out;
    z-index: 10;

    &:hover {
      scale: 1.2;
      color: map.get($colors, "invalid-red");
    }
  }
}

.modal-open-btn-container {
  width: 100%;
  height: 100%;
  position: relative;

  .modal-open {
    &-btn {
      all: unset;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: map.get($colors, "accent-yellow");
      background-color: map.get($colors, "bg-color-secondary");
      width: 2rem;
      height: 2rem;
      margin: 0.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: scale 100ms ease-in-out;
      z-index: 5;

      &:hover {
        scale: 1.2;
      }
    }
  }
}
