.navbar {
  .logo {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;

    & img {
      width: 30px;
      height: 30px;
    }

    & h1 {
      font-size: 16px;
      color: white;
      margin: 0;
      font-family: 'Bebas Neue', sans-serif;
    }
  }

  .navbar-nav {
    text-align: center;

    a {
      display: block;
      color: #93B1A6;
      text-decoration: none;
      min-width: 80px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: #5C8374;
      }

      &.active {
        color: #2aff17;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }

    h2 {
      margin: 0;
      font-size: 12px;
    }

    ul {
      list-style: none;
    }
  }

  .navbar-toggler {
    background-color: #93B1A6;
  }

  @media (min-width: 576px) {
    .navbar-nav {
      transform: translateX(-30px);
    }
  }
}

.bg-body-tertiary {
  background-color: #040D12 !important;
}

