.navbar {
  .logo {
    display: block;
    text-align: center;
    text-decoration: none;

    & img {
      width: 30px;
      height: 30px;
    }

    & h1 {
      font-size: 16px;
      color: rgb(0, 0, 0);
      margin: 0;
    }
  }

  .navbar-nav {
    text-align: center;
    gap: 20px;

    a {
      display: block;
      color: rgb(0, 0, 0);
      text-decoration: none;

      &.active {
        color: #f70c0c;
      }

      &:hover {
        color: rgb(31, 117, 117);
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }

    h2 {
      margin: 0;
      font-size: 12px;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .socials-container {
    a{
      text-decoration: none;
      color: #fff;
    }

    svg {
      margin: 2px;
      padding: 2px;
      background-color: rgb(255, 188, 188);
      width: 25px;
      height: 25px;
      border-radius: 4px;

      &:hover {
        color: rgb(31, 117, 117);
      }
    }
  }
}
