@use "sass:map";
@use "../../styles//variables.scss" as *;

.education-section {
  overflow-x: hidden;
  .summary {
    padding-top: 1rem;
  }

  .education {
    &-article {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 1.5rem;
      gap: 1.5rem;

      @media (max-width: map.get($breakpoints, "md")) {
        grid-template-columns: 1fr;
      }
    }

    &-img-container {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
    }

    &-img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .education-img-container {
    &.initial {
      opacity: 0;
      transform: translateX(-100%);
      filter: blur(10 px);
      transition: all 1s;
    }

    &.animate-from-left {
      transform: translateX(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  .education-text-container {
    &.initial{
      opacity: 0;
      transform: translateX(100%);
      filter: blur(10 px);
      transition: all 1s;
    }

    &.animate-from-right {
      transform: translateX(0);
      filter: blur(10 px);
      opacity: 1;
    }
  }
}
