@import "../../styles//variables.scss";

.education-section {
  gap: 1.5rem;
  display: grid;
  .summary {
    padding-top: 1rem;
  }

  .image-wrapper {
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: 80vh;
      object-fit: contain;
    }
  }

  .education-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;

    @media (max-width: map-get($breakpoints, "sm")) {
      grid-template-columns: 1fr;
    }
  }
}
