@use "sass:map";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.carousel {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
  }

  &-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    transition: translate 300ms ease-in-out;
  }

  &-btn {
    all: unset;
    display: block;
    position: absolute;
    top: calc(50% - 1rem);
    cursor: pointer;
    color: map.get($colors, "accent-yellow");
    background-color: map.get($colors, "bg-color-secondary");
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 100ms ease-in-out;

    &:hover {
      scale: 1.2;
    }
  }

  &-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.25rem;
    background-color: map.get($colors, "bg-color-secondary");
    border-radius: 1rem;
  }

  &-dot-btn {
    all: unset;
    display: block;
    width: 1rem;
    height: 1rem;
    color: map.get($colors, "accent-yellow");
    transition: scale 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      scale: 1.5;
    }
  }
}