@use "sass:map";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.contact-section {
  form {
    max-width: map.get($breakpoints, "lg");
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    label {
      color: map.get($colors, "light-grey");
      font-size: 0.9rem;
      padding-bottom: 2px;
      font-weight: 300;
    }

    input,
    textarea {
      min-height: 1rem;
      border: none;
      border-radius: 4px;
      border: 2px solid map.get($colors, "dark-grey");
      background-color: map.get($colors, "light-grey");
      padding: 0.5rem;

      &:focus-visible {
        outline: none;
      }

      &:hover {
        opacity: 90%;
      }

      &:user-invalid {
        border-color: map.get($colors, "invalid-red");
      }
    }

    textarea {
      min-height: 4rem;
      max-width: calc(100%);
      field-sizing: content;
    }

    button {
      background-color: map.get($colors, "accent-yellow");
      margin: 1rem 0;
      max-width: 5rem;
      padding: 0.5rem;
      font-weight: 600;
      border: none;
      border-radius: 4px;
      border: 2px solid map.get($colors, "dark-grey");
      transition: transform 0.3s, background-color 0.3s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &:active {
        transform: scale(0.9);
        cursor: pointer;
        background-color: green;
      }
    }

    .input-label {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .form-control {
      &.fade-in {
        opacity: 0;
        transition: none;
        animation: fadeIn 0.5s ease-out forwards;
        animation-delay: var(--delay, 0ms);
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          filter: blur(10 px);
          transform: translateY(32px);
        }
        100% {
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
        }
      }
    }

    .row {
      display: flex;
      gap: 0.7rem;

      @media (max-width: map.get($breakpoints, "sm")) {
        flex-direction: column;
      }
    }
  }
}
