.contact-section {
  form {
    margin: 25px;
  }

  .form-control {
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    border-width: 0;
    border-bottom: 2px solid #040D12;
    background-color: #93B1A6;
  }

  textarea {
    min-height: 100px;
  }

  .btn {
    border-color: black;
    background-color: rgb(94 234 212);
    color: darkblue;
  }

  .form-msg {
    background-color: #93B1A6;
    padding: 5px
  }
}