.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 5rem);
  padding: 2rem 0;

  hr {
    border: none;
    height: 4px;
    background-color: var(--main-gray);
    width: 10%;               
  }

  h2, h4, p {
    padding-top: 1rem;

    @media (max-width: 1320px) {
      max-width: 100%;
    }
  }

  .socials-container {
    display: flex;
    width: fit-content;
    gap: 10px;
    padding-top: 2rem;

    a {
      display: flex;
      align-items: center;
      padding: 20px 6px;
      text-decoration: none;
      color: var(--main-darkend-blue);
      background-color: var(--main-pale-blue);
      height: 30px;
      border-radius: 4px;

      svg {
        width: 30px;
        height: 30px;
      }
      
      span {
        padding: 0 10px;
      }
    }
  }
}