.intro-section {
  padding: 11rem 10% 10rem 10%;
  background-color: var(--main-very-light-gray);

  hr {
    border: none;
    height: 4px;
    background-color: var(--main-gray);
    width: 10%;               
  }

  h2, h4, p {
    max-width: 70%;
    padding-top: 1rem;

    @media (max-width: 1320px) {
      max-width: 100%;
    }
  }

  .socials-container {
    display: flex;
    width: fit-content;
    gap: 10px;
    padding-top: 2rem;

    a {
      display: flex;
      align-items: center;
      padding: 20px 6px;
      text-decoration: none;
      color: var(--main-darkend-blue);
      background-color: var(--main-pale-blue);
      height: 30px;
      border-radius: 4px;

      svg {
        width: 30px;
        height: 30px;
      }
      
      span {
        padding: 0 10px;
      }
    }
  }
}