html {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #183D3D;
  color: white;
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 576px) {
  html {
    overflow-x: auto;
  }
}

/* 
https://colorhunt.co/palette/040d12183d3d5c837493b1a6
#040D12
#183D3D
#5C8374
#93B1A6 */

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */