:root {
  --main-deep-blue: #2c3e50;
  --main-pale-blue: #d8f0f7;
  --main-light-gray-blue: #34495e;
  --main-teal: rgb(207, 255, 248);
  --main-darkend-blue: #272999;
  --main-gray: #666666;
  --main-light-grey: #aaaaaa;
  --main-very-light-blue: #e3f2fd;
  --main-very-light-gray: #f0f0f0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #183d3d;
  color: var(--main-deep-blue);
  font-family: "Oswald", sans-serif;
  background: var(--main-very-light-gray);
}

section {
  scroll-margin-top: 80px;
}

.blur-background {
  background-color: rgba(224, 224, 224, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

p,
li {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 576px) {
  html {
    overflow-x: auto;
  }
}

/* 
https://colorhunt.co/palette/040d12183d3d5c837493b1a6
#040D12
#183D3D
#5C8374
#93B1A6 */

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
