.homepage-container {
  margin: 100px 20%;
  text-align: center;
  height: calc(100vh - 200px);
  
  #blobSvg {
    min-width: 300px;
    min-height: 300px;
  }

  .contact-link {
    display: flex;
    text-decoration: none;
    background-color: rgb(94 234 212);
    padding: 6px 20px;
    border: 1px black solid;
    border-radius: 25px 0;
    color: darkblue;

    svg {
      margin: 4px;
    }
  }

  .socials-container {
    display: flex;
    a {
      text-decoration: none;
      color: #fff;
    }

    svg {
      margin: 10px 5px;
      padding: 2px;
      color: darkblue;
      background-color: rgb(94 234 212);
      width: 30px;
      height: 30px;
      border-radius: 4px;
    }
  }
}